{% ckan_extends %}

{% block head_extras %}
    {{ super() }}
    <script
      src="https://browser.sentry-cdn.com/7.37.2/bundle.tracing.min.js"
      integrity="sha384-fvPQDlndgINMbEsMXtCyqYrvvpsE2UTMA4Vh/PMVlnbH3fuBwzyPMtYDKrqANFf4"
      crossorigin="anonymous"
    ></script>
    {% asset 'sentry/sentry' %}
{% endblock %}}

{% block body_extras %}
    {{ super() }}
    {% set sentry_config = h.get_sentry_config() %}
    <div data-sentry="sentry" data-dsn="{{ sentry_config.dsn }}" data-environment="{{ sentry_config.environment }}"></div>
{% endblock %}
