{% ckan_extends %}

{% set sentry_loader_script = h.get_sentry_loader_script() %}

{% block head_extras %}
  {{ super() }}

  {% if sentry_loader_script %}
    <script src="{{ sentry_loader_script }}" crossorigin="anonymous"></script>
    {% asset 'sentry/sentry' %}
  {% endif %}
{% endblock %}}

{% block body_extras %}
  {{ super() }}
  {% if sentry_loader_script %}
    {% set sentry_config = h.get_sentry_config() %}
    <div data-sentry="sentry" data-environment="{{ sentry_config.environment }}" data-tracesSampleRate="{{ sentry_config.tracesSampleRate }}"></div>
  {% endif %}
{% endblock %}
